<!DOCTYPE html>
<html>
<head>
<title>Social Listening Tool</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% load static %}
<!-- js for tab -->
<script src="{% static 'js/tab.js' %}"></script>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
.myLink {display: none}
</style>
</head>
<body class="w3-light-grey">

<!-- Header on top -->
<div class="w3-bar w3-white w3-border-bottom w3-xlarge">
  <a href="#" class="w3-bar-item w3-button w3-text-red w3-hover-red"><b><i class="fa fa-history w3-margin-right"></i>Update Database</b></a>
  <a class="w3-bar-item w3-right w3-text-grey"><i class="fa fa-handshake-o"></i> CMU x SA-Gov</b></a>
</div>

<!-- Front Page -->
<header class="w3-display-container w3-content w3-hide-small" style="max-width:1500px">
  <!-- Welcome and Intro -->
  <div class="w3-container w3-center">
    <p> </p>
  </div>

  <!-- Wordcloud Sample and List-->
  <div class="w3-row-padding">
    <div class="w3-twothird w3-margin-bottom">
      <img src="{% static 'images/wordcloud_sample.jpeg' %}" style="width:100%">
    </div>
    <div class="w3-third">
      <div class="w3-container" style="height:100%">
        <h3 class="w3-deep-orange w3-center">Click the words to find out more</h3>
        <h4>1 Big<br>2 Data<br>3 Large<br>4 Information<br>5 Storage<br>6<br>7<br>8<br>9<br>10<br>11<br>12<br>13<br>14<br>15<br></h4>
      </div>
    </div>
  </div>
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px;">

  <!-- All about Startups -->
  <div class="w3-container" >
    <h2>Explore More about Startups</h2>
    <div class="w3-bar w3-black">
      <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'keyword');"><i class="fa fa-lightbulb-o w3-margin-right"></i>Buzzwords</button>
      <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'compname');"><i class="fa fa-group w3-margin-right"></i>Company Info</button>
      <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'comptwi');"><i class="fa fa-twitter w3-margin-right"></i>Company Tweets</button>
    </div>

    <!-- Tabs -->
    <div id="keyword" class="w3-container w3-white w3-padding-16 tabContent">
      <h3>Search Buzzwords</h3>
      <div class="w3-row-padding" style="margin:0 -16px;">
        <div class="w3-half">
          <input class="w3-input w3-border" type="text" placeholder="enter keyword">
          <div>
            <label><br> Choose the period :</label>
            <select id="query_interval">
              <option value="3m">Last 3 months</option>
              <option value="6m">Last 6 months</option>
              <option value="1y">Last 1 year</option>
              <option value="2y">Last 2 years</option>
            </select>
          </div>
        </div>
      </div>
      <p><button class="w3-button w3-dark-grey">Search</button></p>
    </div>

    <div id="compname" class="w3-container w3-white w3-padding-16 tabContent">
      <h3>Search Company Info</h3>
      <div class="w3-row-padding" style="margin:0 -16px;">
        <div class="w3-half">
          <input class="w3-input w3-border" type="text" placeholder="enter company name">
        </div>
      </div>
      <p><button class="w3-button w3-dark-grey">Search</button></p>
    </div>

    <div id="comptwi" class="w3-container w3-white w3-padding-16 tabContent">
      <h3>Search Company Tweets </h3>
      <div class="w3-row-padding" style="margin:0 -16px;">
        <div class="w3-half">
          <input class="w3-input w3-border" type="text" placeholder="enter company twitter username">
        </div>
      </div>
      <p><button class="w3-button w3-dark-grey">Search</button></p>
    </div>
  </div>

  <!-- Explore Topics -->
  <div class="w3-container">
    <div class="w3-panel w3-padding-16 w3-black w3-card w3-hover-opacity-off">
      <h2>Explore Topics</h2>
      <input class="w3-input w3-border" type="text" placeholder="enter a keyword">
      <button type="button" class="w3-button w3-red w3-margin-top">Search</button>
    </div>
  </div>

  <!-- Outcome -->
  <div class="w3-container">
    <h3>Outcome</h3>
    <p>aaaaaaa.</p>
  </div>
  <div class="w3-row-padding">
    <div class="w3-half w3-margin-bottom">
      <img src="/w3images/ocean2.jpg" alt="Norway" style="width:100%">
      <div class="w3-container w3-white">
        <h3>West Coast, Norway</h3>
        <p class="w3-opacity">Roundtrip from $79</p>
        <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
        <button class="w3-button w3-margin-bottom">Buy Tickets</button>
      </div>
    </div>
    <div class="w3-half w3-margin-bottom">
      <img src="/w3images/mountains2.jpg" alt="Austria" style="width:100%">
      <div class="w3-container w3-white">
        <h3>Mountains, Austria</h3>
        <p class="w3-opacity">One-way from $39</p>
        <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
        <button class="w3-button w3-margin-bottom">Buy Tickets</button>
      </div>
    </div>
  </div>

  
  
<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-center w3-opacity w3-margin-bottom">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>


<!-- Initialize Tab -->
<script>
// Click on the first tablink on load
document.getElementsByClassName("tablink")[0].click();
</script>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper("#s_pic", {
    speed:1000,
    spaceBetween: 500,
    centeredSlides: true,
    autoplay: {
      delay: 2500,
      disableOnInteraction: false,
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>

</body>
</html>

